# Entorno virtual (NO subir)
venv/
.venv/

# Archivos de Python
__pycache__/
*.pyc

# Logs
*.log

# Archivos temporales de descargas
temp_downloads/

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db
